doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Emotional Cocktail
    link(href='https://fonts.googleapis.com/css?family=Dancing+Script', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/stylesheet2.css')
    script(type='text/javascript', src='/javascript/jquery-1.9.1.js')
    script(type='text/javascript', src='/javascript/jquery.uploadThumbs.js')
    script.
      $(function() {
      // jQuery Upload Thumbs
      $('form input:file').uploadThumbs({
      position  : '#preview',    // any: arbitrarily jquery selector
      alternate : '.alt'         // selecter for alternate view input file names
      });
      });
  body
    header
      h1 Emotional Cocktail
    section.image-content-result
      img.display-image(src='#{file}')
    section#first-person.person
      .intro-text 左側にいるあなたにオススメなのは…
      .photo
        img(src='#{leftUrl}')
      .name #{left}
    section#second-person.person
      .intro-text 右側にいるあなたにオススメなのは…
      .photo
        img(src='#{rightUrl}')
      .name #{right}
    input(type='button', value='戻る', onclick="location.href='/'")
    footer © FACESAKE All Rights Reserved at JPHacks2017 in Kobe
